[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Fat filesystem on external flash for the ESP32
[access "refs/*"]
	owner = group user/Leland Lucius (lllucius)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Leland Lucius (lllucius)
	label-Verified = -1..+1 group user/Leland Lucius (lllucius)
	push = group user/Leland Lucius (lllucius)
	read = group user/Leland Lucius (lllucius)
	rebase = group user/Leland Lucius (lllucius)
	removeReviewer = group user/Leland Lucius (lllucius)
	submit = group user/Leland Lucius (lllucius)
[access "refs/heads/*"]
	create = group user/Leland Lucius (lllucius)
	push = +force group user/Leland Lucius (lllucius)
	pushMerge = group user/Leland Lucius (lllucius)
	read = group user/Leland Lucius (lllucius)
[access "refs/tags/*"]
	push = group user/Leland Lucius (lllucius)
	push = +force group user/Leland Lucius (lllucius)
